<!DOCTYPE html>
<html lang="en">
<title>SyneS's Wonderland</title>


<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="<%= avatar %>">

    <meta charset="utf-8" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@4"></script>
  
  <meta name="SyneS" content="true">
  <meta property="og:site_name" content="SyneS">
  <meta name="description" content="FrontEnd Developer">
  <meta name="copyright" content="SyneS">
  <meta name="author" content="SyneS">
  <!-- META TAGS -->

<!-- DISCORD META -->
<meta property="og:url" content="/">
<meta property="og:image:type" content="<%= avatar %>">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:title" content="SyneS | FrontEnd Developer">
<meta name="theme-color" content="#7289da">
<meta property="og:description" content="Ladies and Gentelmans, welcum to SyneS's Wonderland!">
<meta property="og:type" content="website">
<meta property="og:footer" content="Developed by SyneS">
<meta property="og:image" content="<%= avatar %>">
    <link rel="stylesheet" href="../tailwind.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/ea7ce1e9f9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../raqzid.css">
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js"></script>
    <?xml version="1.0" standalone="no"?>
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN" "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
</head>


<script>
  //     var isNS = (navigator.appName == "Netscape") ? 1 : 0;
  // var EnableRightClick = 0;
  // if(isNS)
  // document.captureEvents(Event.MOUSEDOWN||Event.MOUSEUP);
  // function mischandler(){
  // if(EnableRightClick==1){ return true; }
  // else {return false; }
  // }
  // function mousehandler(e){
  // if(EnableRightClick==1){ return true; }
  // var myevent = (isNS) ? e : event;
  // var eventbutton = (isNS) ? myevent.which : myevent.button;
  // if((eventbutton==2)||(eventbutton==3)) return false;
  // }
  // function keyhandler(e) {
  // var myevent = (isNS) ? e : window.event;
  // if (myevent.keyCode==96)
  // EnableRightClick = 1;
  // return;
  // }
  // document.oncontextmenu = mischandler;
  // document.onkeypress = keyhandler;
  // document.onmousedown = mousehandler;
  // document.onmouseup = mousehandler;
</script>