<%- include('part/header.ejs') %>
<%- include('part/down.ejs') %>

<body onkeydown="false" class="p-0 m-0 box-border bg-black text-white">
    <%- include('part/loading.ejs') %>

    <div class="px-48 pt-28 bodypx">
        <div><a href="/" class="px-4 bg-opacity-50 bg-gray-900 hover:bg-opacity-70 py-3 font-medium rounded"><ion-icon name="arrow-back-outline" class="relative text-xl rounded-full top-1"></ion-icon></a> <span class="pl-2 font-medium">BACK</span></div>
        <div class="w-full pt-10 h-full flex items-center">
            <div>
                <h1 class="text-2xl text-blue-500 font-bold">COLORS</h1>
                <div data-aos="fade-zoom-in" data-aos-delay="2250" class="mt-2 flex probox flex-wrap">
                    <div class="h-44 m-2 border-2 flex items-center shadow-xl border-gray-900 rounded-xl w-72 bg-black">
                        <div class="ml-4">
                            <h1 class="font-semibold text-lg">BLACK</h1>
                            <h4 class="text-gray-400 font-semibold text-sm">Background</h4>
                            <h4 class="text-sm mt-1 text-gray-400 font-semibold">#000000</h4>
                        </div>
                    </div>
                    <div class="h-44 m-2 flex items-center shadow-xl rounded-xl w-72 " style="background-color: #070A10;">
                        <div class="pl-4">
                            <h1 class="font-semibold text-lg">DARK</h1>
                            <h4 class="text-gray-400 font-semibold text-sm">Element</h4>
                            <h4 class="text-sm mt-1 text-gray-400 font-semibold">#070A10</h4>
                        </div>
                    </div>
                    <div class="h-44 m-2 flex items-center shadow-xl rounded-xl w-72 bg-white">
                        <div class="pl-4">
                            <h1 class="font-bold text-lg text-black">WHİTE</h1>
                            <h4 class="text-gray-500 font-semibold text-sm">Title</h4>
                            <h4 class="text-sm mt-1 text-gray-500 font-bold">#FFFFFF</h4>
                        </div>
                    </div>
                    <div class="h-44 m-2 flex items-center shadow-xl rounded-xl w-72 bg-gray-400">
                        <div class="pl-4">
                            <h1 class="font-bold text-lg text-black">GRAY</h1>
                            <h4 class="text-gray-700 font-semibold text-sm">Subtitle</h4>
                            <h4 class="text-sm mt-1 text-gray-700 font-bold">#9CA3AF</h4>
                        </div>
                    </div>
                    <div class="h-44 m-2 flex items-center shadow-xl rounded-xl w-72 " style="background-color: #0C111C;">
                        <div class="pl-4">
                            <h1 class="font-semibold text-lg">BLUE DARK</h1>
                            <h4 class="text-gray-400 font-semibold text-sm">Buton</h4>
                            <h4 class="text-sm mt-1 text-gray-400 font-semibold">#0C111C</h4>
                        </div>
                    </div>
                    <div class="h-44 m-2 flex items-center shadow-xl rounded-xl w-72 bg-blue-400">
                        <div class="pl-4">
                            <h1 class="font-bold text-lg">BLUE</h1>
                            <h4 class="text-gray-200 font-semibold text-sm">Links</h4>
                            <h4 class="text-sm mt-1 text-gray-200 font-bold">#60A5FA</h4>
                        </div>
                    </div>
                    <div class="h-44 m-2 flex items-center border-2 border-gray-900 border-opacity-75 shadow-xl rounded-xl w-72 " style="background-color: #0b101a;">
                        <div class="pl-4">
                            <h1 class="font-semibold text-lg">BLUE DARK2</h1>
                            <h4 class="text-gray-400 font-semibold text-sm">Buton:hover</h4>
                            <h4 class="text-sm mt-1 text-gray-400 font-semibold">#0b101a</h4>
                        </div>
                    </div>
                    <div class="h-44 m-2 flex items-center shadow-xl rounded-xl w-72 " style="background-color: #0e1522; box-shadow: 0vh 0.5vh 2vh #0e1522;">
                        <div class="pl-4">
                            <h1 class="font-semibold text-lg">AQUA DARK</h1>
                            <h4 class="text-gray-400 font-semibold text-sm">Shadow</h4>
                            <h4 class="text-sm mt-1 text-gray-400 font-semibold">#0e1522</h4>
                            <h4 title="" class="text-gray-400 font-medium mt-2 bg-black rounded select-all cursor-pointer px-1 text-xs">box-shadow: 0vh 0.5vh 2vh #0e1522;</h4>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="pt-44 ">
            <h1 class="text-2xl text-blue-500 font-bold">FONT</h1>
            <div >
                <div class="mt-5">
                    <h1 class="font-medium">CSS İMPORT</h1>
                    <div title="" class="mt-2 bg-gray-900 py-2 px-3 w-full overflow-auto h-10 rounded bg-opacity-60">
                        <code class=" select-all"><span class="text-blue-400">@import</span> url('<span class="text-green-400">https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700&display=swap</span>');</code>
                    </div>
                </div>
                <div class="mt-8">
                    <h1 class="font-medium">CSS CODE</h1>
                    <div class="pt-2">
                        <code title="" class="bg-gray-900 bg-opacity-60 py-2 px-3 rounded select-all">font-family: '<span class="text-green-400">Saira</span>';</code>
                    </div>
                </div>
            </div>
            <h1 class="mt-6 text-sm text-gray-300">Font By <u><a href="https://fonts.google.com/" target="_blank" class="text-blue-400">Google Fonts</a></u></h1>
        </div>

        <div class="pt-44 mb-24">
            <h1 class="text-2xl text-blue-500 font-bold">TOOLTİPS</h1>
            <h4 class="font-light text-sm">Make Required Definitions From <a href="https://atomiks.github.io/tippyjs/" target="_blank" class="text-blue-400 underline">Tippy.js Library</a> Before Using.</h4>
            <div class="mt-5">
                <h1 class="font-medium">CSS CODE</h1>
                <div title="" class="pt-2 bg-gray-900 rounded-xl mt-3 w-80 h-56 px-6 flex items-center bg-opacity-30 shadow-xl">
                    <code class=" py-2 px-3 rounded select-all">
                        .<code class="text-green-400">tippy-tooltip</code> <code class="text-yellow-300">{</code> <br>
                            background-color: <code class="text-yellow-500">#0b101a</code>; <br>
                        <code class="text-yellow-300">}</code>
                          <br> <br>
                          .<code class="text-green-400">tippy-arrow</code> <code class="text-yellow-300">{</code> <br>
                            visibility: <code class="text-yellow-500">hidden</code>; <br>
                        <code class="text-yellow-300">}</code>
                    </code>
                </div>
            </div>
        </div>
    </div>
        <%- include('part/footer.ejs') %>
</body>
<script>
tippy('[title=""]', {
content: "Click And Press <b>Ctrl + C</b> to Copy",
placement: 'bottom',
arrow: true,
animation: 'scale',
theme: 'translucent'
});

tippy('#socials', {
content: "Discord",
placement: 'top',
arrow: true,
animation: 'scale',
theme: 'translucent'
});
tippy('#socials2', {
content: "Steam",
placement: 'top',
arrow: true,
animation: 'scale',
theme: 'translucent'
});
tippy('#socials3', {
content: "Twitch",
placement: 'top',
arrow: true,
animation: 'scale',
theme: 'translucent'
});
tippy('#socials4', {
content: "Github",
placement: 'top',
arrow: true,
animation: 'scale',
theme: 'translucent'
});
tippy('#socials5', {
content: "Send Mail",
placement: 'top',
arrow: true,
animation: 'scale',
theme: 'translucent'
});

AOS.init();
</script>